@font-face {
font-family: ‘Gotham Rounded Medium’;
src: url(‘https://raw.githubusercontent.com/ebenxzer/webfonts/blob/master/Gotham%20Rounded/GothamRounded-Medium.otf') format(‘otf’);
src: url('https://raw.githubusercontent.com/ebenxzer/webfonts/blob/master/Gotham%20Rounded/GothamRounded-Medium.eot’);
src: url('https://raw.githubusercontent.com/ebenxzer/webfonts/blob/master/Gotham%20Rounded/GothamRounded-Medium.eot?#iefix') format('embedded-opentype'),
url('https://raw.githubusercontent.com/ebenxzer/webfonts/blob/master/Gotham%20Rounded/GothamRounded-Medium.woff2') format('woff2'),
url('https://raw.githubusercontent.com/ebenxzer/webfonts/blob/master/Gotham%20Rounded/GothamRounded-Medium.woff') format('woff'),
url('https://raw.githubusercontent.com/ebenxzer/webfonts/blob/master/Gotham%20Rounded/GothamRounded-Medium.ttf') format('truetype'),
url('https://raw.githubusercontent.com/ebenxzer/webfonts/blob/master/Gotham%20Rounded/GothamRounded-Medium.svg') format('svg');
font-weight: 100;
font-style: normal;
}
